*{
  background-image: url('https://ak.picdn.net/shutterstock/videos/1065193918/thumb/1.jpg');
  color: white;
  text-shadow: rgb(67, 66, 66) 1px 2px;
}
ul{
  list-style: none;
  align-content: center;
}
button{
  background-color: rgb(140, 169, 196);
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(33, 32, 32);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(126, 125, 125);
  
}
button:hover {background-color: #6c94d5}
  
button:active {
  background-color: #3e6e8e;
  box-shadow: 0 5px rgb(60, 60, 60);
  transform: translateY(4px);
}
.form{
  text-align: right;
  position: absolute;
  width: 57%;
  font-weight: bolder;
  padding-top: 5%;
  font-size: 20px;
}
.form >form >input{
  background-color: rgb(183, 178, 178);
}
form >textarea{
  background-color: rgb(183, 178, 178);
}
a{
  font-size: larger;
  font-weight: bold;
}
.listLink{
  background-image: linear-gradient(to bottom right, #aa64bf, #3070a8);
}
a:link{
  color: rgb(15, 15, 15);
}
a:visited{ 
  color:rgb(25, 21, 44);
}
a:hover{ 
  color: rgb(71, 3, 35);
}
a:active{
  color: rgb(40, 34, 74);
}
#dreamL{
  margin: auto;
  border: 15px groove #aa64bf;
  border-top-color:  #3070a8; 
  border-bottom-color: #aa64bf;
  border-left-color:#3070a8;
  background-image: linear-gradient(to bottom right, #3070a8, #aa64bf);
  border-radius: 30px; 
  padding-top: 25px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-top: 3pc;
  width: 75%;
}
#dreamL >li {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2.7em;
  letter-spacing: 1px;
  border-bottom: 2px solid black;
  text-transform: uppercase;

}